@using PizzaStore.Data

<div class="cards">
    @foreach (var pizza in PizzaList)
    {
        <div class="card">

            <img src="@pizza.imgURL" alt="pizza">
            <h3>@pizza.title</h3>
            <p>@pizza.compound</p>
            <h4>@pizza.price</h4>

            <button @onclick="()=> AddToCart(pizza)">В корзину</button>

        </div>
    }
</div>

@if(orderedPizzas != 0) {
    <div class="cart">

    <h2>Стоимость корзины: @totalPrice</h2>

    <p class="cart-pizzas">
            @foreach (var pizza in CartList)
            {
                <p>@pizza.title, </p>
            }
    </p>


</div>
}


<style>

    h1 {
        text-align: center;
        font-size: 60px;
        font-weight: 600;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 100px;
    }

    .card {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        text-align: center;
        padding: 12px 24px;
        border-radius: 8px;
        height: 600px;
        margin-bottom: 24px;
    }

    .card button {
        padding: 6px 20px;
        border: none;
        border-radius: 8px;
        background: orange;
        color: white;
    }

        .card img {
            max-width: 300px;
        }

        .card p {
            word-break: break-all;
        }

        .cart-pizzas {
            display: flex;
            flex-wrap: wrap;
            margin-right: 8px;
        }
</style>

@code {
    [Parameter] public List<Pizza> PizzaList { get; set; }
    public List<Pizza> CartList = new List<Pizza>();
    public int orderedPizzas = 0;
    public double totalPrice { get; set; }

    public void AddToCart(Pizza pizza)
    {
        
            CartList.Add(pizza);
            totalPrice += pizza.price;
            orderedPizzas++;
    }
}
